<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="http://demos.jquerymobile.com/1.4.4/_assets/css/jqm-demos.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    #custom-handle1 {
      width: 4.5em;
      height: 1.6em;
      top: 50%;
      margin-top: -.8em;
      text-align: center;
      line-height: 1.6em;
      font-size:  18px;
    }
    #custom-handle2 {
      width: 4.5em;
      height: 1.6em;
      top: 50%;
      margin-top: -.8em;
      text-align: center;
      line-height: 1.6em;
      font-size:  18px;
    }
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
  </style>
  <script src="//d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
  <script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3-scale-radial.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3v3.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://www.promisejs.org/polyfills/promise-done-7.0.4.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
</head>

<body style="color: black; width: 100%;height: 100%">
  <pre>
  static void Main(string[] args) {
    double a = 1.23;
    bool booleanVal = true;
    int i = 5;
     int[,] array2Da = new int[7, 2] { { 1, 2 }, { 3, 4 }, { 5, 6 }, { 7, 8 }, { 7, 8 }, { 7, 8 }, { 7, 8 } };
     int[,] array2Db = new int[4, 5] { { 1 ,2,3, 2, 3 }, { 3, 2, 3, 2, 3 }, { 5, 2, 3, 2, 3 }, { 7, 2, 3, 2, 3 } };
     int abc = 12; 
     for (int <<j = 0>> = 0; j < 10; j++) {

         abc += 10000000;
        <<j = 1 >> (instance of loop) 

         <<abc = 1000000>> += 10000000; 
        <<j = 2 >> (instance of loop)

         abc += 10000000;
        <<j = 3 >>

         abc += 10000000;
     for (int j = 0; j < 10; j++) {

         abc += 10000000;
     for (int j = 0; j < 10; j++) {

         abc += 10000000;
     for (int j = 0; j < 10; j++) {

         abc += 10000000;
     for (int j = 0; j < 10; j++) {

         abc += 10000000;
     for (int j = 0; j < 10; j++) {

         abc += 10000000;
     for (int j = 0; j < 10; j++) {

         abc += 10000000;
     }
  int[] array3 = {0, 1, 2,3,4,5,6,7,8,9,10,11,12,13,14};
  </pre>
  <!-- <script>
    go();
  </script> -->
</body>
